
$my-theme-primary: mat-palette($mat-cyan);
$my-theme-accent: mat-palette($mat-cyan, 50);
$my-theme-warn: mat-palette($mat-light-blue);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
